body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.image {
    width: 20%;
    size:0cap;
}


.image-border{
    border: 1px solid #939393;
}

.section-heading span{
    color: #ff0000;
    font-size: 35px;
}

h3{
    font-size: 30px;
    color: #ff0000;
}

